@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Armiwa Test</h1>
    <p class="lead">Test Application</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You can test the application by creating a new sale. It's also possible to administrate products and keep record or past sales.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Database</h2>
        <p>The Application uses Entity Framework with a CodeFirst approach, it will try to create the Database in the localhost SQL Server LocalDB or SQL Server Express.</p>
    </div>
    <div class="col-md-4">
        <h2>Technologie</h2>
        <p>The Applications is based on MVC5 with the utilization of a generic DAO Repository.</p>
    </div>
</div>